<div class="row"> 
	<h4 class="breadcrumb">Sign in to Sensor Network</h4>
</div>

<div class="row">
	<div class="col-md-4">
		<%= form_for :session,  url: sessions_path do |f| %>

			<div class="form-group">
				<%= f.label :username %>
				<%= f.text_field :username, class: "form-control", value: @username %>
			</div>

			<div class="form-group">
				<%= f.label :password %>
				<%= f.text_field :password, type: "password", class:"form-control" %>
			</div>

			<%= f.submit class: "btn btn-primary", value: "Sign in" %>

		<% end %>
	</div>
</div>