<% content_for :head do %>
  <%= javascript_include_tag 'devices/device_show' %>
	<%= javascript_include_tag 'node_show' %>

	<%= stylesheet_link_tag 'devices/devices' %>
	<%= stylesheet_link_tag 'nodes' %>
<% end %>

<div class="row">
	<h4 class="breadcrumb">
    <%= render 'layouts/backbutton' %>
    <%= t('node_view') %>
  </h4>
</div>

<div id="node-container" class="row" data-id="<%=@node.id%>">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="javascript:;" id="dock-link"><%= t('node_dock') %></a></li>
		<li role="presentation"><a href="javascript:;" id="settings-link"><%= t('node_settings') %></a></li>
	</ul>

	<div id="node-dock">
    <div class="dock-form well well-sm">
      <% unless @plugins.nil? %>
        <%= form_for :window, url: windows_path, method: :post, html: { class: "form-inline" } do |f| %>
          <%= f.text_field :device_id, value: @node.id, style: 'display:none;' %>
          <div class="form-group">
            <% p_list = @plugins.map{|p| [p.name, p.id]}.unshift(['','Default']) %>
            <%= f.select :plugin_id, p_list, {}, { selected: 'Default', class: "form-control" } %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary", value: t('window_add')  %>
          </div>
        <% end %>
      <% end %>
    </div>

		<% unless @windows.nil? %>
			<% @windows.each do |window| %>
				<%= render "windows/show", window: window, device_id: @node.id %>
			<% end %>
		<% end %>
	</div>

	<div id="node-settings" style="display:none">
		<div class="row" style="margin-bottom:5px;">
			<div class="col-sm-2 setting-text"> <b> <%= t('node_name') %>: </b> </div>
			<div class="col-sm-10 setting-text"> <%= @node.name %> </div>
		</div> 
		<div class="row" style="margin-bottom:5px;">
			<div class="col-sm-2 setting-text"> <b> <%= t('node_id') %>: </b> </div>
			<div class="col-sm-10 setting-text">
        <% if @node.node_id.nil? %>
            <span style="color:gray">Missing</span>
        <% else %>
          <%= @node.node_id %>
        <% end %>
      </div>
		</div>
    <div class="row" style="margin-bottom:5px;">
      <div class="col-sm-2 setting-text"> <b> address: </b> </div>

      <div class="col-sm-10 setting-text">
        <% if @node.address.nil? %>
            <span style="color:gray">Unknown</span>
        <% else %>
            <%= @node.address %>
        <% end %>
      </div>
    </div>
    <div class="row" style="margin-bottom:5px;">
      <div class="col-sm-2 setting-text"> <b> <%= t('node_key') %>: </b> </div>
      <div class="col-sm-10 setting-text"> <%= @node.key.value %> </div>
    </div>
    <br/>

		<br/>
		<div class="row">
			<div class="col-xs-1"><%= t('node_sensor_id') %></div>
			<div class="col-xs-4"><%= t('node_sensor_name') %></div>
      <div class="col-xs-3">Field Type</div>
      <div class="col-xs-2">&nbsp;</div>
      <div class="col-xs-2">Export Data</div>
		</div>
		<br/>

		<% unless @fields.nil? %>
      <div class="field-list">
        <% @fields.each do |field| %>
          <%= render 'fields/form', field: field %>
        <% end %>
      </div>
		<% end %>

    <div class="buttons">
      <%= form_for :field, url: fields_path, method: :post do |f| %>
        <%= f.text_field :device_id, value: @node.id, style: 'display:none;' %>
        <button type="button" href="javascript:;" id="add-field" class="btn btn-primary"><%= t('node_sensor_addfield') %></button>
      <% end %>
      <button type="button" class="btn btn-primary" id="update-fields"><%= t('node_sensor_updatefields') %></button>
    </div>
	</div>
</div>