<% content_for :head do %>
  <%= javascript_include_tag 'window_show' %>
  <%= stylesheet_link_tag 'window_show' %>
<% end %>

<div class="col-md-<%=window.width%> window-container">
	<div class="window" style="height:<%=window.height%>px;" data-id="<%=window.id%>">
		<div class="header">
			<span class="text"><%= window.plugin.name %></span>

      <div class="header-buttons">
        <button type="button" class="btn btn-link toggle-size">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-link remove">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
		</div>


		<iframe class="content" style="height:100%;width:100%;" src="/plugins/<%= window.plugin_id %>?window_id=<%= window.id %>&device_id=<%= device_id %>">
		</iframe>

	</div>
</div>

