<div class="row">
  <h4 class="breadcrumb">
    <%= render 'layouts/backbutton' %>
    Edit Device
  </h4>
</div>
<div class="container">
  <%= form_for :device, url: device_path(@device.id), method: :put, html: { class: "form-inline" } do |f| %>

    <div class="form-group">
      <label for="device_device_type" class="col-form-label">Device Type:</label>
      <p id="device_device_type" class="form-control-static" style="display: inline-block;margin-right:5px"><%= @device.device_type %></p>
      <% if false %> <!-- used to make this section not run (basically comment it out) -->
          <%= f.select :device_type, [['Node', 'Node'], ['Gateway', 'Gateway']], {}, { selected: @device.device_type, class: "form-control" } %>
      <% end %>
    </div>

    <div class="form-group">
      <label for="device_name" class="col-form-label">Name:</label>
      <%= f.text_field :name, class: "form-control", value: @device.name, placeholder: "Name" %>
    </div>

    <div class="form-group">
      <label for="device_address" class="col-form-label">Address:</label>
      <%= f.text_field :address, class: "form-control", value: @device.address, placeholder: "Address" %>
    </div>

    <% if @device.is_node %>
      <div class="form-group">
        <label for="device_node_id" class="col-form-label">Node Id:</label>
        <%= f.text_field :node_id, class: "form-control", value: @device.node_id, placeholder: "Node Id", type: "number" %>
      </div>
    <% end %>

    <div class="form-group">
      <label for="commit" class="col-form-label"></label>
      <%= f.submit class: "btn btn-primary", value: "Save"  %>
    </div>
  <% end %>
</div>