<% content_for :head do %>
  <%= javascript_include_tag 'devices/devices_list' %>
  <%= stylesheet_link_tag 'devices/devices_list' %>
<% end %>

<div class="row">
  <h4 class="breadcrumb">
    Devices
    <%= link_to 'New Device', new_device_path, class: 'btn btn-primary', role: 'button' %>
  </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <% unless @devices.nil? %>
      <table class="table table-borderless table-striped available-node-list">
        <thead>
          <tr>
            <th class="sort-selector"></th>
            <th id="name">Name</th>
            <th id="type">Type</th>
            <th id="key">Key</th>
            <th id="address">Address</th>
            <th id="nodeId">Id</th>
            <th id="editTd"></th>
            <th id="deleteTd"></th>
          </tr>
        </thead>
        <tbody class="sortable-tablebody free-node-drop-list">
        <% @devices.each do |device| %>
          <tr class="sortable-node">
            <input type="hidden" id="id" value="<%= device.id %>" />
            <td class="sort-selector"><span class="glyphicon glyphicon-move" aria-hidden="true"></span></td>
            <td id="name" class="text"><%= device.name %></td>
            <td id="type" class="text"><%= device.device_type %></td>
            <td id="key" class="text"><%= device.key.value %></td>
            <td id="address" class="text">
              <% if device.address.nil? %>
                <span style="color:gray">Unknown</span>
              <% else %>
                <%= device.address %>
              <% end %>
            </td>
            <td id="nodeId" class="text">
              <% if device.is_node && !device.node_id.nil? %>
                  <%= device.node_id %>
              <% end %>
            </td>
            <td id="editTd"><%= link_to 'Edit', edit_device_path(device.id), class: 'btn btn-primary', role: 'button' %> </td>
            <td id="deleteTd"><%= link_to 'Remove', device_path(device.id), method: :delete, data: { confirm: "Delete device?" }, class: 'btn btn-primary', role: 'button' %> </td>
          </tr>
        <% end %>
        <tr class="empty-node-list"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </tbody>
      </table>
      <% @deviceTrees.each do |deviceTree| %>
        <table class="table table-borderless table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>Key</th>
              <th>Address</th>
              <th>Id</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="sortable-tablebody node-drop-zone">
            <tr class="gateway-row">
              <input type="hidden" id="id" value="<%= deviceTree.gateway.id %>" />
              <td></td>
              <td id="name" class="text"><%= deviceTree.gateway.name %></td>
              <td id="type" class="text"><%= deviceTree.gateway.device_type %></td>
              <td id="key" class="text"><%= deviceTree.gateway.key.value %></td>
              <td id="address" class="text">
                <% if deviceTree.gateway.address.nil? %>
                    <span style="color:gray">Unknown</span>
                <% else %>
                    <%= deviceTree.gateway.address %>
                <% end %>
              </td>
              <td id="nodeId" class="text">
                <% if !deviceTree.gateway.id.nil? %>
                    <%= deviceTree.gateway.id %>
                <% end %>
              </td>
              <td id="editTd"><%= link_to 'Edit', edit_device_path(deviceTree.gateway.id), class: 'btn btn-primary', role: 'button' %> </td>
              <td id="deleteTd"><%= link_to 'Remove', device_path(deviceTree.gateway.id), method: :delete, data: { confirm: "Delete device?" }, class: 'btn btn-primary', role: 'button' %> </td>
            </tr>
            <% deviceTree.nodes.each do |node| %>
              <tr class="sortable-node">
                <input type="hidden" id="id" value="<%= node.id %>" />
                <td class="sort-selector"><span class="glyphicon glyphicon-move" aria-hidden="true"></span></td>
                <td id="name" class="text"><%= node.name %></td>
                <td id="type" class="text"><%= node.device_type %></td>
                <td id="key" class="text"><%= node.key.value %></td>
                <td id="address" class="text">
                  <% if node.address.nil? %>
                      <span style="color:gray">Unknown</span>
                  <% else %>
                      <%= node.address %>
                  <% end %>
                </td>
                <td id="nodeId" class="text">
                  <% if node.is_node && !node.node_id.nil? %>
                      <%= node.node_id %>
                  <% end %>
                </td>
                <td id="editTd"><%= link_to 'Edit', edit_device_path(node.id), class: 'btn btn-primary', role: 'button' %> </td>
                <td id="deleteTd"><%= link_to 'Remove', device_path(node.id), method: :delete, data: { confirm: "Delete device?" }, class: 'btn btn-primary', role: 'button' %> </td>
              </tr>
            <% end%>
          </tbody>
        </table>
      <% end %>
    <% end %>

  </div>
</div>

<% if not (@queued_nodes.nil? || @queued_nodes.empty?)%>
  <div class="row">
    <h4 class="breadcrumb">Awaiting Approval</h4>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% unless @queued_nodes.nil? %>
          <table class="table table-borderless table-striped">
            <thead>
            <tr>
              <th>Address</th>
              <th>Gateway Id</th>
              <th>Queued Date</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <% @queued_nodes.each do |queued_node| %>
                <tr>
                  <td id="name"><%= queued_node.address %></td>
                  <td id="type"><%= queued_node.device_id %></td>
                  <td id="key"><%= queued_node.created_at %></td>
                  <td><%= link_to 'Accept', devices_acceptedqueuednode_path(id: queued_node.id), method: :put, class: 'btn btn-primary', role: 'button' %> </td>
                  <td><%= link_to 'Reject', devices_rejectqueuednode_path(id: queued_node.id), method: :put, data: { confirm: "Delete device?" }, class: 'btn btn-primary', role: 'button' %> </td>
                </tr>
            <% end %>
          </table>
      <% end %>
    </div>
  </div>
<% end %>