<div class="row">
  <h4 class="breadcrumb">
    <%= render 'layouts/backbutton' %>
    Add Device
  </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for :device, url: devices_path, method: :post, html: { class: "form-inline" } do |f| %>
      <div class="form-group">
        <%= f.select :device_type, [['Node', 'Node'], ['Gateway', 'Gateway']], {}, { selected: @type, class: "form-control" } %>
      </div>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", value: @name, placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary", value: "Add"  %>
      </div>
    <% end %>
  </div>
</div>