@import "util/color_palette";

footer {
  background-color: $rgba-primary-4;
  color: $rgba-primary-9;

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.contact-info {

}

.glyphicon-envelope {
  text-align: center;
  font-size: 50px;
  color: $rgba-primary-6;
}