@import "util/color_palette";

.navbar {
  margin: 0;
}

.navbar-default {
  background-color: $rgba-primary-4;
  .navbar-nav > li {
    a {
      color: $rgba-primary-5;
    }
    a:hover {
      background-color: $rgba-primary-6;
      color: $rgba-primary-5;
    }
  }

  .navbar-nav > .open {
    a:hover, a:focus {
      background-color: $rgba-primary-6;
      color: $rgba-primary-5;
    }
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    background-color: $rgba-primary-4;
    border-color: $rgba-primary-1;
    li > a {
      color: $rgba-primary-5;
    }
    .divider {
      background-color: $rgba-primary-1;
    }
  }

  .navbar-brand > img {
    width: 48px;
  }

  .badge {
    background-color: $rgba-primary-3;
  }
}