@import "util/color_palette";

html, body {
  height: calc(100% - 25px);
  margin: 0;
}

body {
  margin-top: 50px;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  background-color: $rgba-primary-1;
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 40px;
}