/* line 2, /home/balsamfir/SensorNetwork/app/assets/stylesheets/network.scss */
.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

/* line 8, /home/balsamfir/SensorNetwork/app/assets/stylesheets/network.scss */
circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

/* line 14, /home/balsamfir/SensorNetwork/app/assets/stylesheets/network.scss */
text {
  font: 10px sans-serif;
  pointer-events: none;
}
