<% content_for :head do %>
  <%= javascript_include_tag 'plugins/plugin_edit' %>
  <script>
    function deletePlugin(pluginId){
      $.ajax({
        url: "/plugins/"+pluginId,
        method: "DELETE",
        success: function(data){
          if (data.deleted == 'Y')
            window.location.href = "/plugins";
        }
      });
    }
  </script>

  <%= stylesheet_link_tag 'plugins/plugin_edit' %>
<% end %>

<div class="row"> 
	<h4 class="breadcrumb">
    <%= render 'layouts/backbutton' %>
    Edit Plugin
  </h4>
</div>

<div class="row">
	<div class="col-md-12">

		<%= form_for @plugin, url: "/plugins/#{@plugin.id}" do |f| %>

			<div class="form-group plugin-settings">
				<div class="form-inline">
          <%= f.label(:name, "Name:") %>
					<%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-inline">
          <%= f.label(:type, "Device Type:") %>
          <%= f.select(:type, options_for_select(["Node", "Gateway"], @plugin.type), {},{class:"form-control selectpicker"})%>
				</div>
        <div class="form-inline">
          <%= f.label(:is_protected, "Protected?") %>
          <%= f.check_box(:is_protected) %>
        </div>
			</div>
      <%= f.submit class: "btn btn-primary" %>
      <% if @user_plugin_role >= 4 %>
          <input type="button" value="Delete Plugin" class="btn btn-primary" onclick="deletePlugin(<%=@plugin.id%>)"/>
      <% end %>


			<div class="form-group plugin-css">
        <div class="dock-form well well-sm">
				  <%= f.label :css %>
        </div>
				<%= f.text_area :css %>
			</div>

			<div class="form-group plugin-js">
        <div class="dock-form well well-sm">
          <%= f.label :javascript %>
        </div>
				<%= f.text_area :javascript %>
			</div>

			<div class="form-group plugin-html">
        <div class="dock-form well well-sm">
				  <%= f.label :html %>
        </div>
				<%= f.text_area :html %>
			</div>

			<div id="setting-container">
				<div id="setting-template" class="form-group form-inline" style="display:none;">
					<input name="setting[ids][]" type="text" value="-1" style="display:none;" disabled>
					<input class="form-control" name="setting[names][]" type="text" placeholder="Name" disabled>
					<a href="javascript:;" class="remove-setting">Remove Setting</a>
				</div>
			</div>

			<%= f.submit class: "btn btn-primary" %>
      <% if @user_plugin_role >= 4 %>
        <input type="button" value="Delete Plugin" class="btn btn-primary" onclick="deletePlugin(<%=@plugin.id%>)"/>
      <% end %>

		<% end %>

	</div>
</div>