<div class="row">
	<h4 class="breadcrumb">
    <%= @breadcrumb %>
    <%= form_for :plugin,  url: plugins_path, method: "post" do |f| %>
        <%= f.submit class: "btn btn-primary", value: "New Plugin" %>
    <% end %>
  </h4>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created</th>
					<th>Updated</th>
				</tr>
			</thead>
			<tbody>
				<% @plugins.each do |plugin| %>
					<tr>
				 		<td>
				 			<h4>
				 				<% if plugin.is_protected %>
				 					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				 				<% else %>
				 					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
				 				<% end %>
				 				<%= link_to plugin.name, "/plugins/#{plugin.id}/edit" %>
				 			</h4>
				 		</td>
				 		<td><%= plugin.created_at %></td>
				 		<td><%= plugin.updated_at %></td>
				 		<tr>
				 	</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>