<html style="height:100%;width:100%;">
	<head>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'plugins/plugin_show' %>
    <%= javascript_include_tag 'datetimepicker' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'plugins/plugin_show' %>
    <%= stylesheet_link_tag 'datetimepicker' %>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script type="text/javascript">
      <% if @plugin.javascript != nil %>
        <%= @plugin.javascript.html_safe %>
      <% end %>
		</script>
		<style type="text/css">
      <% if @plugin.css != nil %>
        <%= @plugin.css.html_safe %>
      <% end %>
    </style>
	</head>
	<body id="windowBody" data-id="<%= @window_id %>">
		<div id="window-content-container" class="col-md-12">
			<div id="current-errors" style="display:none;">
				<h2> Errors:</h2>
				<ul>
				</ul>
				<br/><br/>
			</div> 
			<div id="user-content-container">
        <% if @plugin.html != nil %>
            <%= @plugin.html.html_safe %>
        <% end %>
			</div>
		</div>
	</body>
</html>