<div class="row">
  <h4 class="breadcrumb">
    Plugin Tutorial
  </h4>
</div>

<div class="row">
  <div class="jumbotron">
    <h2>Overview</h2>
    This tutorial will take you through the basic functionalities of plugins. It will go over the three sections of plugins; HTML, CSS, and JS. We will cover functions that have been setup for your convenience as well as JS objects to help with sending and receiving data from the server. Lastly we will go over what libraries have already been included for your convenience.

    <h2>Getting Started</h2>
    Plugins are what you can create to display data in anyway you see fit. It give you the power to build any kind of data display that you can think of. Creating plugins is like creating a web page because it allows you to write HTML, CSS, and JS code for your purposes.

    HTML - In this section you can write html code for your the layout of plugin.
    CSS - In this section you can write css to style your plugin however you choose to.
    JS - In this section you will write you javascript code that is the backbone of your plugin.

    Every plugin can either be private or public. Private plugins are only viewable by you while public plugins are viewable by all other users. This gives users the ability to share plugins and ideas.

    Each plugin will either be designed for Gateways or Nodes. This is important because depending each type of device are used differently and have different functionalities. So when you create a plugin be sure to select the device type that you are creating it for.

    <h2>Functions</h2>
    TODO: write functions and what they are used for

    <h2>Objects</h2>
    TODO: write objects, their fields, and what they are used for

    <h2>Libraries</h2>
    There are a few JS libraries already included in the project for your benefit. These libraries are JQuery(http://api.jquery.com/), C3(http://c3js.org/reference.html), and D3(https://d3js.org/). There is also Bootstrap(http://getbootstrap.com/components/) available if you wish to use UI elements. I won’t go over how to use these libraries but follow the links to their official web pages for tutorials there.

    <h2>Example</h2>
    TODO: build a couple base case scenario
  </div>
</div>