<div class="row">
  <h4 class="breadcrumb">
    <%= render 'layouts/backbutton' %>
    <%= @user.username %>
  </h4>
</div>

<%= form_for @user, url: user_path(@user.id) do |f| %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, type: "email", class:"form-control" %>

      <%= f.label :privilege_level %>
      <%= f.select(:privilege_level, options_for_select(@privileges.map { |privilege| [ privilege.name, privilege.id ] }, @user.privilege_level), {},{class:"form-control selectpicker"})%>
    </div>

    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', users_list_path, class: "btn btn-primary" %>

<% end %>