<div class="row">
  <h4 class="breadcrumb">Users</h4>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
        <th>Updated</th>
        <% if is_system_admin %>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <tr>
            <td>
              <h4>
                <%= user.username %>
              </h4>
            </td>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
            <td><%= user.updated_at %></td>
            <% if is_system_admin %>
              <td><%= link_to 'Edit', edit_user_path(user.id), class: 'btn btn-primary', role: 'button'%> </td>
              <td><%= link_to 'Remove', user_path(user.id), method: :delete, data: { confirm: "Delete user?" }, class: 'btn btn-primary', role: 'button' %> </td>
            <% end %>
          <tr>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>