<div class="row"> 
	<h4 class="breadcrumb">
    <%= render 'layouts/backbutton' %>
    Sign up to use Sensor Network
  </h4>
</div>

<div class="row">
	<div class="col-md-4">
		<%= form_for :user,  url: users_path do |f| %>

			<% if @user.errors.any? %>
				<div>
					<h2>
						<%= pluralize(@user.errors.count, "Error") %> prohibited
						this article from being saved:
					</h2>
					<ul>
						<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div> <br/>
			<% end %>
			
			<div class="form-group">
				<%= f.label :email %>
				<%= f.text_field :email, type: "email", class:"form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :username %>
				<%= f.text_field :username, class:"form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :password %>
				<%= f.text_field :password, type: "password", class:"form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :password_confirmation %>
				<%= f.text_field :password_confirmation, type: "password", class:"form-control" %>
			</div>

			<%= f.submit class: "btn btn-primary", value: "Create Account" %>

		<% end %>
	</div>
</div>