<% content_for :head do %>
  <%= javascript_include_tag 'networks_index' %>
<% end %>

<div class="row"> 
	<h4 class="breadcrumb">
    <%= t('network_connect') %>
  </h4>
</div>

<div class="row">
	<div class="col-md-12">

		<% unless @devices.nil? %>
			<div>
        <label for="device-type"><%= t('network_select') %>: </label>
        <div class="btn-group" role="group" aria-label="..." data-toggle="buttons">
          <label class="btn btn-primary active" onclick="setTable('Node')">
            <input type="radio" name="device-type" class="btn btn-default" id="device-type-node" checked>Nodes</input>
          </label>
          <label class="btn btn-primary" onclick="setTable('Gateway')">
            <input type="radio" name="device-type" class="btn btn-default" id="device-type-gateway" >Gateways</input>
          </label>
        </div>
			</div> <br/>

      <table class="table table-striped Node">
			<% @nodes.each do |node| %>
        <tr>
          <td> <h4><%= link_to node.name, device_path(node.id) %></h4> </td>
        </tr>
			<% end %>
      </table>

      <table class="table table-striped Gateway">
			  <% @gateways.each do |gateway| %>
					<tr>
						<td> <h4><%= link_to gateway.name, device_path(gateway.id) %></h4> </td>
					</tr>
		    <% end %>
      </table>
		<% end %>
	</div>
</div>


