<div class="row">
  <h4 class="breadcrumb">
    Add or Remove Device Access Rights
    <%= form_for :key,  url: access_rights_path, html: { class: "form-inline", method: "post" } do |f| %>
      <div class="">
        <%= f.submit class: "btn btn-primary", value: "Add"  %>
        <%= f.text_field :value, class: "form-control",  placeholder: "Key"%>
      </div>
    <% end %>
  </h4>
</div>


<div class="row">
  <div class="col-md-12">
    <h3>
      Master Key: <%= if (current_user.key != nil)
                       then current_user.key.value;
                       else "No Master Key"
                       end %>
    </h3>
    <br/>

    <% unless @rights.nil? %>
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Key</th>
            <th></th>
          </tr>
        </thead>
        <% @rights.each do |right| %>
          <tr>
            <td id="name"><%= right.device.name %></td>
            <td id="type"><%= right.device.device_type %></td>
            <td id="key"><%= right.device.key.value %></td>
            <td><%= link_to 'Remove', access_right_path(right.id), method: :delete, data: { confirm: "Remove access right?" }, class: 'btn btn-primary', role: 'button' %> </td>
          </tr>
        <% end %>
      </table>
    <% end %>

  </div>
</div>
