<% allitems = picklist.clone %>
<% if !selected.nil? && !selected.blank? && selected != ''%>
    <% if !allitems.nil? && allitems.length > 0 %>
        <% if !allitems.include?(selected)%>
            <% allitems.unshift(selected) %>
            <% disable = selected %>
        <% end %>
    <% else %>
    <% end %>
<% end %>

<% if !allitems.nil? && allitems.length > 0 %>
    <%= select(object, parameter, options_for_select(allitems.map { |type| [type] }, selected: selected, disabled: disable), {include_blank: true}, {class:"form-control selectpicker"})%>
<% else %>
    <%= select(object, parameter, [], {:include_blank => true}, {class:"form-control selectpicker"})%>
<% end %>