<div class="row">
  <h4 class="breadcrumb">
    Settings
  </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <ul>
      <li><%= link_to 'Field Type Picklist', settings_nodetypes_path(item_code:'nodetype') %></li>
      <li><%= link_to 'Command Type Picklist', settings_commandtypes_path(item_code:'commandtype') %></li>
      <li><%= link_to 'Command Parameter Type Picklist', settings_commandtypes_path(item_code:'commandparamtype') %></li>
    </ul>
  </div>
</div>