<% content_for :head do %>
  <%= javascript_include_tag 'settings/picklist' %>
  <%= stylesheet_link_tag 'settings/picklist' %>
<% end %>

<div class="row">
  <h4 class="breadcrumb">
    <%= render 'layouts/backbutton' %>
    Picklist Edit
    <button class="btn btn-primary" id="add-item" onclick="newItem('<%= @item_code %>');">Add Item</button>
  </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-striped" id="itemTable">
      <thead>
      <tr>
        <th><label>Description</label></th>
        <th><label>Created</label></th>
        <th><label>Updated</label></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% if @settings.any? %>
          <% @settings.each do |setting| %>
              <tr>
                <td class="description">
                  <label id="description"><%= setting.item_description %></label>
                  <input id="description" class="form-control" value="<%= setting.item_description %>" type="text" style="display:none;"/>
                  <input id="setting_id" value="<%= setting.id %>" type="hidden"/>
                  <input id="item_code" value="<%= setting.item_code %>" type="hidden"/>
                </td>
                <td class="created"><label id="createdAt"><%= setting.created_at %></label></td>
                <td class="updated"><label id="updatedAt"><%= setting.updated_at %></label></td>
                <td class="edit-save">
                  <button id="editItem" class="btn btn-primary" onclick="editItem(this);">Edit</button>
                  <button id="saveItem" class="btn btn-primary" onclick="saveItem(this);" style="display:none;">Save</button>
                </td>
                <td class="delete-cancel">
                  <button id="deleteItem" class="btn btn-primary" onclick="deleteItem(this);">Delete</button>
                  <button id="cancelItem" class="btn btn-primary" onclick="cancelItem(this);" style="display:none;">Cancel</button>
                </td>
              </tr>
              <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>