@import "util/color_palette";
@import "codemirror";

.CodeMirror {
  overflow: hidden;
}

.plugin-css, .plugin-js, .plugin-html {
  .CodeMirror {
    border: 1px solid $rgba-primary-7;
    border-top: none;
  }
  .dock-form {
    margin: 0px;
    margin-top: 20px;
    border-top: 1px solid $rgba-primary-7;
    border-right: 1px solid $rgba-primary-7;
    border-left: 1px solid $rgba-primary-7;
    border-radius: 0px;
    label {
      color: $rgba-primary-2;
    }
  }
}

.plugin-settings {
  .form-inline {
    margin: 5px;
    display: inline;
  }
  input[type=checkbox] {
    vertical-align: text-top;
    margin-top: 2px;
  }
}

