<% content_for :head do %>
	<%= javascript_include_tag 'devices/device_show' %>
	<%= javascript_include_tag 'gateway_show' %>
  <%= javascript_include_tag 'command' %>
	<%= stylesheet_link_tag 'devices/devices' %>
	<%= stylesheet_link_tag 'gateways' %>
  <%= stylesheet_link_tag 'command' %>
<% end %>

<div class="row"> 
	<h4 class="breadcrumb">
    <%= render 'layouts/backbutton' %>
    <%= t('gateway_view') %>
  </h4>
</div>

<div id="gateway-container" class="row" data-id="<%=@gateway.id%>">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="javascript:;" id="dock-link"><%= t('gateway_dock') %></a></li>
		<li role="presentation"><a href="javascript:;" id="commands-link"><%= t('gateway_commands') %></a></li>
    <li role="presentation"><a href="javascript:;" id="nodes-link">Nodes</a></li>
	</ul>

	<div id="gateway-dock">
    <div class="dock-form well well-sm">
      <% unless @plugins.nil? %>
        <%= form_for :window, url: windows_path, method: :post, html: { class: "form-inline" } do |f| %>
          <div class="form-group">
            <% p_list = @plugins.map{|p| [p.name, p.id]}.unshift(['','Default']) %>
            <%= f.select :plugin_id, p_list, {}, { selected: 'Default', class: "form-control" } %>
          </div>
          <div class="form-group" style="display:none;">
            <%= f.text_field :device_id, value: @gateway.id %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary", value: t('window_add')  %>
          </div>
        <% end %>
      <% end %>
    </div>

    <% unless @windows.nil? %>
      <% @windows.each do |window| %>
        <%= render "windows/show", window: window, device_id: @gateway.id%>
      <% end %>
    <% end %>
	</div>

	<div id="gateway-commands" style="display:none">
		<% unless @commands.nil? %>
      <div class="panel">
        <div class="panel panel-default command-panel-header">
          <div class="header centerText col-sm-1"><label><%= t('gateway_command_active') %></label></div>
          <div class="header centerText col-sm-2"><label><%= t('gateway_command_device') %></label></div>
          <div class="header centerText col-sm-4"><label><%= t('gateway_command_name') %></label></div>
          <div class="header centerText col-sm-1"><label><%= t('gateway_command_priority') %></label></div>
          <div class="header centerText col-sm-3">&nbsp;</div>
          <div class="header centerText col-sm-1">&nbsp;</div>
        </div>
        <div>
          <% @commands.each do |command| %>
            <%= render 'commands/form', command: command, gateway: @gateway%>
          <% end %>
        </div>
      </div>
		<% end %>
    <%= form_for :command, url: command_path, html: { class: "form-group row field-form" } do |f| %>
        <%= f.text_field :gateway_id, value: @gateway.id, style: 'display:none;' %>
        <div class="col-sm-12">
          <div class="col-sm-1" style="text-align: center;vertical-align: middle;">
            <label>
              <%= f.check_box( :active, value: false, class: "commandActive" )%>
            </label>
          </div>
          <div class="col-sm-2">
            <%= f.select(:device_id, options_for_select(@nodes.map { |node| [node.name, node.id] }), {include_blank: true}, {class:"form-control selectpicker"})%>
          </div>
          <div class="col-sm-4">
            <%= render 'settings/dropdown', selected: '', picklist: @command_types, object: "command", parameter: "name" %>
          </div>
          <div class="col-sm-1">
            <%= f.number_field( :priority, value: '1', step: 1, min: 1, class: "form-control setting-text" )%>
          </div>
          <div class="col-sm-3">
            <button type="button" href="javascript:;" class="_addCommand btn btn-primary"><%= t('gateway_addcommand') %></button>
          </div>
          <div class="col-sm-1">&nbsp</div>
        </div>
    <% end %>
	</div>

  <div id="gateway-nodes" style="display:none">
    <div class="col-md-12">
      <table class="table table-striped Node">
        <thead>
          <tr>
            <th>Connected Nodes</th>
          </tr>
        </thead>
        <tbody>
          <% if @nodes.length < @child_count %>
            <tr>
              <td>You do not have permission to view some or all of the connected nodes</td>
            </tr>
          <% end %>
          <% @nodes.each do |node| %>
            <tr>
              <td> <h4><%= link_to node.name, device_path(node.id) %></h4> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>