@import "util/color_palette";

.available-node-list {
  min-height:10px;
}

.empty-node-list {
  display:none;
}

table {
  .sort-selector {
    color: $rgba-primary-3;
    width:5%;
    text-align: center;
    span {
      border: 1px solid $rgba-primary-1;
      border-radius: 6px;
      padding: 3px;
    }
    &:hover {
      cursor: move;
    }
  }
  #name {
    width:15%;
  }
  #type {
    width:10%;
  }
  #key {
    width:20%;
  }
  #address {
    width:20%;
  }
  #nodeId {
    width:10%;
  }
  #editTd {
    width:10%;
  }
  #deleteTd {
    width:10%;
  }
}