/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-multiselect";

@import "util/color_palette";

@import "general/page_layout";
@import "general/navbar";
@import "general/footer";

.content-container {
  background-color: $rgba-primary-5;
  padding-bottom: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 10px;

  .breadcrumb {
    margin-top: 20px;
    margin-bottom: 10px;
    color: $rgba-primary-2;
    background-color: $rgba-primary-7;
    border-radius: 0px;
    .btn {
      float: right;
      margin-top: -8px;
      margin-right: -15px;
      border-radius: 0px;
      padding: 9px 12px 9px 12px;
      border: 1px solid $rgba-primary-9;
      border-left: 2px solid $rgba-primary-2;
      line-height: 1.1;
      background-color: $rgba-primary-9;
    }
    form {
      display: inline;
      div {
        display: inline-flex;
        float: right;
        margin-top: -8px;
        margin-right: -15px;
        background-color: $rgba-primary-9;
        .btn {
          float: none;
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 0px;
          height: 34px;
          border-top: 0px;
          border-right: 0px;
          border-bottom: 0px;
        }
        input {
          height: 30px;
          margin-top: 2px;
          margin-bottom: 2px;
        }
      }
    }
    .back {
      float:left;
      border-right: 2px solid $rgba-primary-2;
      border-left: none;
      margin-right: 10px;
      margin-left: -15px;
      .glyphicon {
        font-size: 12px;
      }
    }
  }

  .table-striped > tbody > tr:nth-child(odd)> td {
    background-color: $rgba-primary-8;
  }

  .table-hover >tbody > tr:hover >td {
    background-color: $rgba-primary-10;
  }

  a {
    color: $rgba-primary-4;

    &:hover {
      color: $rgba-primary-6;
      text-decoration: underline;
    }
  }

  table {
    input, button, a {
      &.btn.btn-primary {
        color: $rgba-primary-2;
        display: inline;
        border-radius: 10px;
        background-color: $rgba-primary-7;
        border-color: $rgba-primary-6;
        padding: 4px 8px 4px 8px;

        &:hover {
          color: $rgba-primary-5;
          text-decoration: none;
          background-color: $rgba-primary-6;
        }
      }
    }
  }

  input, button, a, label{
    &.btn {
      color: $rgba-primary-2;
      border-radius: 10px;
      background-color: $rgba-primary-7;
      border-color: $rgba-primary-6;

      &:hover, &.active {
        color: $rgba-primary-5;
        text-decoration: none;
        background-color: $rgba-primary-6;
      }
    }
  }
}

.alert {
  margin-top: 10px;
  margin-bottom: 0px;
}

.dock-form {
  margin: 20px;
}

