@import "util/color_palette";

.commandActive {
  margin: 0px;
  margin-top: 3px;
  width: 1.5em;
  height: 1.5em;
}

.param-panel {
  background-color: $rgba-primary-8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}

.command-form {
  background-color: $rgba-primary-10;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.command-wrapper {
  margin-bottom:10px;
}

.command-panel-header {
  overflow: hidden;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid $rgba-primary-10;

  margin-bottom: 10px;

  font-size: 1.5em;
  font-weight: 600;
}

.param-table {
  border-bottom: 2px solid #ddd;
}