.centerText {
   text-align: center;   
}

/* top | right | bottom | left */

#gateway-commands {
    padding: 20px;
}

.table td > .paramTable {
    background-color: inherit;
    margin: 0px;
    border: 0px solid #DDD;
    height: 100%;
}

tr.paramRow {
  &:not(:first-child):not(:last-child) {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
  }

  &:first-child {
    border-top: 0px solid #DDD;
    border-bottom: 1px solid #DDD;
  }

  &:last-child {
    border-top: 1px solid #DDD;
    border-bottom: 0px solid #DDD;
  }

  &:first-child:last-child {
    border-top: 0px solid #DDD;
    border-bottom: 0px solid #DDD;
  }
}

td.paramData {
  border-width:0px;

  &:first-child {
    width: 42%;
  }

  &:last-child {
    width: 16%;
  }
}

td {
  height: 100%;
}