@import "util/color_palette";

#node-settings {
	padding: 20px;
}

.setting-text {
	font-size: larger;
}

.field-list > form {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

  &:nth-child(odd) {
    background-color: $rgba-primary-8;
  }
}

.buttons {
  form {
    display: inline;
  }
}