@import "util/color_palette";


.window-container {
  padding: 20px;
  margin-bottom: 20px;
}

.window {
  & > .header {
    background-color: $rgba-primary-7;
    border: 1px solid $rgba-primary-6;
    padding-bottom: 2px;

    .header-buttons {
      display: inline-flex;
      float: right;
      border-left: 1px solid $rgba-primary-2;
      .btn {
        background-color: $rgba-primary-9;
        padding: 9px 12px 9px 12px;
        line-height: 1.1;
        border-top: 1px solid $rgba-primary-9;
        border-right: 1px solid $rgba-primary-9;
        border-left: 1px solid $rgba-primary-2;
        border-radius: 0px;
      }
      .btn:hover {
        background-color: $rgba-primary-6;
      }
    }

    & > .text {
      color: $rgba-primary-2;
      margin-left: 10px;
      margin-right: 20px;
      font-weight: thick;
      font-size: x-large;
    }
  }

  & > .content, & > .settings {
    border: 1px solid $rgba-primary-6;
    border-radius: 0px 0px 8px 8px;
  }
}