<%= form_for :field, url: field_path(field.id), html: { class: "form-group row field-form" } do |f| %>
	<%= f.text_field :device_id, value: field.device_id, style: 'display:none;' %>
	<%= f.text_field :id, value: field.id , style: "display:none;" %>
	<div class="col-xs-1" style="transform: translateY(20%);">
		<label class="setting-text"><%=field.id%></label>
	</div>
	<div class="col-xs-4">
		<%= f.text_field :name, value: field.name , class: "form-control setting-text" %>
	</div>
  <div class="col-xs-3">
    <%= render 'settings/dropdown', selected: field.field_type, picklist: @field_types, object: "field", parameter: "field_type" %>
  </div>
	<div class="col-xs-2">
		<button type="button" href="javascript:;" class="remove-field btn btn-primary">Remove</button>
	</div>
  <div class="col-xs-2">
    <select id="export" class="form-control selectpicker" onchange="exportData(this, <%=field.device_id%>, <%=field.id%>)">
      <option value=""></option>
      <option value="csv">CSV</option>
      <option value="xlsx">XLSX</option>
    </select>
  </div>
<% end %>