<div class="command-wrapper">
  <%= form_for :command, url: command_path, html: { class: "form-group row field-form command-form" } do |f| %>
    <%= f.text_field :gateway_id, value: gateway.id, style: 'display:none;' %>
    <%= f.text_field :id, value: command.id , style: "display:none;" %>
    <div class="panel panel-default" style="border: 0px;">
      <div class="col-sm-1" style=" text-align: center;vertical-align: middle;">
        <label>
          <%= f.check_box( :active, checked: command.active, class: "commandActive" )%>
        </label>
      </div>
      <div class="col-sm-2">
        <%= f.select(:device_id, options_for_select(@nodes.map { |node| [node.name, node.id] }, selected: command.device_id), {include_blank: true}, {class:"form-control selectpicker"})%>
      </div>
      <div class="col-sm-4">
        <%= render 'settings/dropdown', selected: command.name, picklist: @command_types, object: "command", parameter: "name" %>
      </div>
      <div class="centerText col-sm-1">
        <%= f.number_field( :priority, value: command.priority, step: 1, min: 1, class: "form-control setting-text" )%>
      </div>
      <div class="col-xs-3">
        <button type="button" href="javascript:;" class="_updateCommand btn btn-primary"><%= t('update') %></button>
        <button type="button" href="javascript:;" class="_removeCommand btn btn-primary"><%= t('remove') %></button>
      </div>
      <div role="button" class="_paramCollapse col-sm-1" data-toggle="collapse" href="#command_<%= command.id %>_params" aria-expanded="false" aria-controls="params">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="font-size: 25px;"></span>
      </div>
    </div>
  <% end %>
  <div id="command_<%= command.id %>_params" class="panel-collapse collapse param-panel" role="tabpanel">
    <div class="panel-body">
      <table class="table table-borderless table-striped param-table">
        <thead>
          <th class="header centerText col-sm-4"><b> <%= t('gateway_parameter_name') %> </b></th>
          <th class="header centerText col-sm-4"><b> <%= t('gateway_parameter_value') %> </b></th>
          <th class="col-sm-2">&nbsp</th>
          <th class="col-sm-2">&nbsp</th>
        </thead>
        <tbody>
          <% if command.parameters.count == 0 %>
            <tr>
              <td class="centerText paramData col-sm-4">&nbsp</td>
              <td class="centerText paramData col-sm-4">&nbsp</td>
              <td class="centerText paramData col-sm-2">&nbsp</td>
              <td class="centerText paramData col-sm-2">&nbsp</td>
            </tr>
          <% else %>
            <% command.parameters.each do |param| %>
              <tr>
                <td class="centerText paramData col-sm-4">
                  <input type="hidden" name="param[gateway_id]" value="<%= gateway.id %>"/>
                  <input type="hidden" name="param[command_id]" value="<%= param.command_id %>"/>
                  <input type="hidden" name="param[id]" value="<%= param.id %>"/>
                  <%= render 'settings/dropdown', selected: param.name, picklist: @command_param_types, object: "param", parameter: "name" %>
                </td>
                <td class="centerText paramData col-sm-4">
                  <input type="text" name="param[value]" value="<%= param.value %>" class="form-control setting-text" />
                </td>
                <td class="centerText paramData col-sm-2">
                  <button type="button" href="javascript:;" class="_updateParam btn btn-primary"><%= t('update') %></button>
                  <button type="button" href="javascript:;" class="_removeParam btn btn-primary"><%= t('remove') %></button>
                </td>
                <td class="centerText paramData col-sm-2">&nbsp</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <%= form_for :param, url: command_path, html: { class: "form-group row field-form" } do |f| %>
        <%= f.text_field :gateway_id, value: gateway.id, style: 'display:none;' %>
        <%= f.text_field :command_id, value: command.id, style: 'display:none;' %>
        <div class="col-sm-11">
          <div class="col-sm-6">
            <%= render 'settings/dropdown', selected: '', picklist: @command_param_types, object: "param", parameter: "name" %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field( :value, value: '', class: "form-control setting-text" )%>
          </div>
          <div class="col-sm-2">
            <button type="button" href="javascript:;" class="_addParam btn btn-primary"><%= t('gateway_addparam') %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
