<footer class="footer">
  <div class="row">
    <div class="col-md-4">
      <p>Property of the University of New Brunswick</p>
      <p>Created By: Matthew Harrington, Erik Hatfield</p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="row contact-info">
        <div class="col-md-2">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </div>
        <div class="col-md-6">
          <address>
            <strong>Developer Contact Info:</strong>
            Matthew Harrington
            <a href="mailto:mharrin3@unb.ca">mharrin3@unb.ca</a>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>