<script>
  var expandTime = 750;

  function displayErrorMsg(msg) {
    $('#msg-error-message').text(msg);
    $('#msg-error').show(expandTime);
    $('#msg-alert').hide(expandTime);
    $('#msg-success').hide(expandTime);
    //setTimeout(function(){ $('#msg-success').hide(expandTime); }, 10000);
  }
  function displayAlertMsg(msg) {
    $('#msg-alert-message').text(msg);
    $('#msg-alert').show(expandTime);
    $('#msg-error').hide(expandTime);
    $('#msg-success').hide(expandTime);
    //setTimeout(function(){ $('#msg-success').hide(expandTime); }, 7500);
  }
  function displaySuccessMsg(msg) {
    $('#msg-success-message').text(msg);
    $('#msg-success').show(expandTime);
    $('#msg-error').hide(expandTime);
    $('#msg-alert').hide(expandTime);
    setTimeout(function(){ $('#msg-success').hide(expandTime); }, 5000);
  }

  $(document).ready(function (){
    <% if flash[:error] %>
      displayErrorMsg('<%= flash[:error] %>');
    <% elsif flash[:alert] %>
      displayAlertMsg('<%= flash[:alert] %>');
    <% elsif flash[:success] %>
      displaySuccessMsg('<%= flash[:success] %>');
    <% end %>
  });
</script>

<div id="messages">
  <div id="msg-error" style="display:none;">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <strong>Error:</strong> <span id="msg-error-message"></span>
    </div>
  </div>
  <div id="msg-alert" style="display:none;">
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
      <strong>Alert:</strong> <span id="msg-alert-message"></span>
    </div>
  </div>
  <div id="msg-success" style="display:none;">
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <strong>Success:</strong> <span id="msg-success-message"></span>
    </div>
  </div>
</div>