<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= network_path %>">
        <img width="20px" alt="Brand" style="border-radius: 10%" src="http://i.imgur.com/TzwuEMP.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapsing-navbar">
      <% if current_user %>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Network', network_path %></li>
          <li class="dropdown">
            <%= link_to (content_tag(:span, "Plugins ") + content_tag(:span, "", class:"caret")),
                        my_plugins_path, class:"dropdown-toggle disabled", data:{toggle:"dropdown"},
                        role:"button", aria:{haspopup:"true", expanded:"false"} %>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Plugins', my_plugins_path %></li>
              <li><%= link_to 'Global Plugins', plugins_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Tutorial', plugins_tutorial_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Access Rights', access_rights_path %></li>
          <% if is_admin %>
            <li>
              <%= link_to devices_path, :title => 'Devices' do %>
                  Devices <span id="deviceBadge" class="badge">0</span>
              <% end %>
            </li>
            <li><%= link_to 'Users', user_list_path %></li>
            <li><%= link_to 'Settings', settings_path %></li>
          <% end %>
          <% if is_system_admin %>

          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Sign Out', logout_path %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Sign In', login_path %></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>