<!DOCTYPE html>
<html>
<head>
	<title>Sensor Network</title>
	<%= javascript_include_tag 'application' %>
	<%= stylesheet_link_tag 'application' %>

  <%= javascript_include_tag 'general/navbar' %>
	<%= yield :head %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">
	<%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="box">
  <header class="header">
    <%= render 'layouts/navbar' %>
  </header>

  <div class="content">
    <div class="container content-container">
      <%= render 'layouts/messages'%>
      <%= yield %>
    </div>
  </div>

  <%=render 'layouts/footer'%>
</div>

</body>
</html>
